{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-organize-imports"
  ],
  "organizeImportsSkipDestructiveCodeActions": true,
  "importOrder": [
    "^@useparagon/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true
}